body {
    font-size: 16px;
    font-family: sans-serif;
}

.btn-custom {
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.7rem;
}
.container-fluid {
    padding: 0;
}

#envato-market {
    height: 5vh;
    background-color: rgb(37, 37, 37);
}
#envato-logo p {
    margin: 0;
}
#envato-logo p span {
    font-weight: bold;
}
#envato-market div button {
    background-color: rgb(125, 184, 71);
    padding: 0.2rem 1.5rem;
    font-size: 1rem; 
}

#main-page {
    height: 95vh;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(224, 235, 255));
}
#header {
    height: 10vh;
    width: 90%;
}
#cork-logo p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
#buy-black-button {
    background-color: black;
}
#laravel-version-button {
    background: linear-gradient(to right, rgb(255, 5, 47), rgb(255, 156, 164));
}
#laravel-version-button i {
    font-size: 1rem;
}
#main-section {
    height: 60vh;
    width: 90%;
}
#main-text-section {
    width: 40%;
}
#main-text-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(19, 19, 19);
    width: 80%;
}
#main-text-section h1 span {
    color: rgb(185, 110, 255);
}
#main-text-section > p {
    width: 100%;
    font-size: 1.1rem;
}
#main-text-buttons {
    
}
#main-text-buttons button:nth-of-type(1) {
    background-color: rgb(91, 179, 91);
}
#main-text-buttons button:nth-of-type(2) {
    background-color: rgb(153, 47, 252);
}
#main-text-buttons button {
    color: white;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.7rem;
}
#main-attributes {
    font-size: 0.8rem;
    font-weight: bold;
}
#main-attributes i {
    font-size: 1rem;
    color: rgb(71, 71, 71);
}
#main-image-section {
    width: 55%;
}
#main-image-section img {
    width: 100%;
}

#demos-page {
    height: 180vh;
}
#demos-page > div:first-child {
    height: 20vh;
}
#demos-page > div:first-child h2 {
    background: linear-gradient(to right, black, rgb(174, 88, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#demos-page h5 {
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
    font-weight: normal;
}
.demos-green-btn {
    background: linear-gradient(to top right, rgb(35, 70, 65), rgb(34, 212, 198));
}
.coming-btn {
    color: black;
    background-color: rgb(197, 197, 197);
}

#apps-page {
    height: 400vh;
}
#apps-page > div:first-child {
    height: 20vh;
}
#apps-page > div:first-child h2 {
    background: linear-gradient(to right, black, rgb(174, 88, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.app-section {
    height: 40vh;
}
#apps-page h3 {
    font-weight: bold;
}
#apps-page p {
    background: linear-gradient(to right, rgb(44, 44, 44), rgb(112, 112, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.apps-blue-btn {
    background-color: rgb(41, 56, 255);
}

#down-page {
    position: relative;
    height: 30vh;
    background-color: rgb(63, 63, 63);
    color: white;
}
#red-button {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background: linear-gradient(to right, rgb(219, 23, 55), rgb(255, 130, 157));
    border: none;
    border-radius: 2rem;
}
#red-button i {
    font-size: 0.8rem;
    color: white;
}
.pink-download-btn {
    background: linear-gradient(to right, rgb(246, 130, 250), rgb(221, 43, 197));
    padding: 0.5rem 1.5rem;
}